.wrapper {
  margin: 0 auto;
  max-width: 900px;
}

.header-1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.output {
  width: 100%;
  height: 250px;
  resize: none;
}

.info {
  font-size: 15px;
  text-align: center;
  display: block;
  margin: 15px 0;
}