@import '../abstract/_variables.scss';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

body {
 
}

a {
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
}